<h1>Developer</h1>

{{#if developer.storage}}
  <p>
  <div class="row">
    <button class="btn btn-warning pull-right" type="button" data-toggle="collapse" data-target="#developerStoreForm">Show later saved information</button>
  </div>
  </p>

  <p>
  <div id="developerStoreForm" class="row collapse out">
    <form action="" method="POST">
      <fieldset class="form-group">
        <legend class="bg-warning">Stored data</legend>
        {{#if developer.storage.name}}
          <div class="form-group">
            <label class="text-capitalize" for="name">Name</label>
            <input class="form-control" name="name" id="name" type="text" value="{{developer.storage.name}}">
          </div>
        {{/if}}
        {{#if developer.storage.position}}
          <div class="form-group">
            <label class="text-capitalize" for="position">Postion</label>
            <input class="form-control" name="position" id="position" type="text" value="{{developer.storage.position}}">
          </div>
        {{/if}}
        {{#if developer.storage.info}}
          <div class="form-group">
            <label class="text-capitalize" for="info">Info</label>
            <input class="form-control" name="info" id="info" type="text" value="{{developer.storage.info}}">
          </div>
        {{/if}}
        {{#if developer.storage.imagePath}}
          <div class="form-group">
            <label class="text-capitalize" for="imagePath">Photo</label>
            <input class="form-control" name="imagePath" id="imagePath" type="text" value="{{developer.storage.imagePath}}">
          </div>
        {{/if}}
      </fieldset>
      <button type="button" class="btn btn-warning storage-button">Save to storage</button>
      <button type="button" class="btn btn-success publish-button">Publish</button>
    </form>
  </div>
  </p>
{{/if}}

{{#if developer}}
  <div class="row">

    <div class="container">
      <form action="" method="POST">
        <fieldset class="form-group">
          <legend class="bg-success">Published information</legend>
          {{#if developer.name}}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="text-capitalize" for="name">Name</label>
                  <input class="form-control" name="name" id="name" type="text" value="{{developer.name}}">
                </div>
              </div>
            </div>
          {{/if}}
          {{#if developer.position}}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="text-capitalize" for="position">Postion</label>
                  <input class="form-control" name="position" id="position" type="text" value="{{developer.position}}">
                </div>
              </div>
            </div>
          {{/if}}
          {{#if developer.info}}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="text-capitalize" for="info">Info</label>
                  <input class="form-control" name="info" id="info" type="text" value="{{developer.info}}">
                </div>
              </div>
            </div>
          {{/if}}

          {{#if developer.imagePath}}
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <p>
                    <label class="text-capitalize" for="imagePath">Photo</label>
                    <input class="form-control" name="imagePath" id="imagePathPublish" type="text" value="{{developer.imagePath}}" readonly="readonly">
                  </p>
                  <p class="col-xs-4 col-md-2"><img class="img-developer img-responsive img-thubmnail" src="{{developer.imagePath}}" alt="Photo"></p>

                  <div class="dropzone-mendrew">
                    <div id="previews" class="dropzone-preview"></div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="col-sm-4">
                  <button type="button" class="btn btn-submit fileinput-button">Add file</button>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-info image-upload" style="display: none;">Upload</button>
                </div>
              </div>
            </div>
          {{/if}}

        </fieldset>
        <button type="button" class="btn btn-warning storage-button">Save to storage</button>
        <button type="button" class="btn btn-success publish-button">Publish</button>
      </form>
    </div>

  </div>
{{/if}}

<div id="preview-template" style="display: none;">

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <span class="preview"><img data-dz-thumbnail /></span>
      </div>
      <div class="col-md-4">
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
      </div>
      <div class="col-md-2">
        <p class="size" data-dz-size></p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>
      </div>
    </div>

  </div>

</div>
